/.Logic2VampireLanguageMapper_ConstantMapper.java._trace
/.Logic2VampireLanguageMapper.java._trace
/.Logic2VampireLanguageMapperTrace.java._trace
/.Logic2VampireLanguageMapper_TypeMapperTrace.java._trace
/.VampireModelInterpretation_TypeInterpretation.java._trace
/.VampireModelInterpretation_TypeInterpretation_FilteredTypes.java._trace
/.Logic2VampireLanguageMapper_TypeMapperTrace_FilteredTypes.java._trace
/.Logic2VampireLanguageMapper_TypeMapper.java._trace
/.Logic2VampireLanguageMapper_TypeMapper_FilteredTypes.java._trace
/.Logic2VampireLanguageMapper_Support.java._trace
/.Logic2VampireLanguageMapper_RelationMapper.java._trace
/.Logic2VampireLanguageMapper.xtendbin
/.Logic2VampireLanguageMapperTrace.xtendbin
/.Logic2VampireLanguageMapper_ConstantMapper.xtendbin
/.Logic2VampireLanguageMapper_RelationMapper.xtendbin
/.Logic2VampireLanguageMapper_Support.xtendbin
/.Logic2VampireLanguageMapper_TypeMapper.xtendbin
/.Logic2VampireLanguageMapper_TypeMapperTrace_FilteredTypes.xtendbin
/.Logic2VampireLanguageMapper_TypeMapper_FilteredTypes.xtendbin
/.VampireModelInterpretation_TypeInterpretation.xtendbin
/.VampireModelInterpretation_TypeInterpretation_FilteredTypes.xtendbin
/Logic2VampireLanguageMapper.java
/Logic2VampireLanguageMapperTrace.java
/Logic2VampireLanguageMapper_ConstantMapper.java
/Logic2VampireLanguageMapper_RelationMapper.java
/Logic2VampireLanguageMapper_Support.java
/Logic2VampireLanguageMapper_TypeMapper.java
/Logic2VampireLanguageMapper_TypeMapperTrace.java
/Logic2VampireLanguageMapper_TypeMapperTrace_FilteredTypes.java
/Logic2VampireLanguageMapper_TypeMapper_FilteredTypes.java
/VampireModelInterpretation_TypeInterpretation.java
/VampireModelInterpretation_TypeInterpretation_FilteredTypes.java
/.Vampire2LogicMapper.java._trace
/.VampireHandler.java._trace
/.MonitoredVampireSolution.java._trace
/.SolverConfiguration.java._trace
/.VampireSolverException.java._trace
/.VampireSolutionModel.java._trace
/.VampireCallerWithTimeout.java._trace
/.Logic2VampireLanguageMapper_ScopeMapper.java._trace
/.Logic2VampireLanguageMapper_Containment.java._trace
/.Logic2VampireLanguageMapper_ContainmentMapper.java._trace
