/.VampireLanguageIdeModule.java._trace
/.VampireLanguageIdeSetup.java._trace
/.VampireLanguageIdeModule.xtendbin
/.VampireLanguageIdeSetup.xtendbin
/VampireLanguageIdeModule.java
/VampireLanguageIdeSetup.java
