<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated smartgrid -->
      <package
            uri="http://hu.bme.mit.inf.smartgrid/smartgrid"
            class="hu.bme.mit.inf.smartgrid.SmartgridPackage"
            genModel="model/smartgrid.genmodel"/>
   </extension>

</plugin>
