<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
                                         <extension
                                               point="org.eclipse.emf.ecore.generated_package">
                                            <package
                                                  class="Taxation.TaxationPackage"
                                                  genModel="model/Taxation.genmodel"
                                                  uri="http:///TaxCard.ecore">
                                            </package>
                                         </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TaxationWithRoot -->
      <package
            uri="http:///TaxCardWithRoot.ecore"
            class="TaxationWithRoot.TaxationPackage"
            genModel="model/TaxationWithRoot.genmodel"/>
   </extension>

</plugin>
