/.SolverLanguageDescriptionLabelProvider.java._trace
/.SolverLanguageDescriptionLabelProvider.xtendbin
/.SolverLanguageLabelProvider.java._trace
/.SolverLanguageLabelProvider.xtendbin
/SolverLanguageDescriptionLabelProvider.java
/SolverLanguageLabelProvider.java
