/.FamilyTreeConstraints.java._trace
/.MemberIsItsOwnParent.java._trace
/FamilyTreeConstraints.java
/MemberIsItsOwnParent.java
/.ParentTooYoung.java._trace
/.MemberHasNoParent.java._trace
/.MemberHasParent.java._trace
/.TwoMembersHaveNoParent.java._trace
/.NegativeAge.java._trace
/MemberHasParent.java
/NegativeAge.java
/ParentTooYoung.java
/TwoMembersHaveNoParent.java
