/.DirectSupertype.java._trace
/.Ecore.java._trace
/.LoopInInheritence.java._trace
/.NonSymmetricOpposite.java._trace
/.Opposite.java._trace
/.OppositeDifferentClass.java._trace
/.EcorePatterns.java._trace
/DirectSupertype.java
/EcorePatterns.java
/LoopInInheritence.java
/NonSymmetricOpposite.java
/Opposite.java
/OppositeDifferentClass.java
