<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.EcorePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.EcorePatterns" id="ca.mcgill.ecse.dslreasoner.vampire.queries.EcorePatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.directSupertype"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.loopInInheritence"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.opposite"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.nonSymmetricOpposite"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.FamPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.FamPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.queries.FamPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.terminatorAndInformation"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.FileSystemPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.FileSystemPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.queries.FileSystemPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.patternContent"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.live"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.contentInNotLive"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduMutatedPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduMutatedPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduMutatedPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.entryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.entryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.entryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry_5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromExit_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromExit_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromExit_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromFinal_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromFinal_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromFinal_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noStateInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noStateInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noStateInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noStateInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.StateInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.StateInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.StateInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing_M6"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming_M6"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.queries.YakinduPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.entryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noEntryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleEntryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.transition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.incomingToEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noOutgoingTransitionFromEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.multipleTransitionFromEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromExit"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.outgoingFromFinal"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.noStateInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.StateInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoOutgoing"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.choiceHasNoIncoming"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.synchHasNoOutgoing"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.synchHasNoIncoming"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.SynchronizedIncomingInSameRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.notSynchronizingStates"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.hasMultipleOutgoingTrainsition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.hasMultipleIncomingTrainsition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.SynchronizedRegionsAreNotSiblings"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.child"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.SynchronizedRegionDoesNotHaveMultipleRegions"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.hasMultipleRegions"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.synchThree"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.twoSynch"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.EcorePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.EcorePatterns" id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.EcorePatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.directSupertype"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.loopInInheritence"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.opposite"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.ecore.nonSymmetricOpposite"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.fam.FamPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.test.queries.fam.FamPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.fam.FamPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.fam.terminatorAndInformation"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.FileSystemPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.FileSystemPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.FileSystemPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.patternContent"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.live"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.contentInNotLive"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduMutatedPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduMutatedPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduMutatedPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.entryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.entryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.entryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry_5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromExit_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromExit_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromExit_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromFinal_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromFinal_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromFinal_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noStateInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noStateInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noStateInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noStateInRegion_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.StateInRegion_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.StateInRegion_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.StateInRegion_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing_M6"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M0"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M1"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M2"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M3"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M4"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M5"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming_M6"/>
    </group>
  </extension>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduPatterns" id="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.YakinduPatterns">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.entryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noEntryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleEntryInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.transition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.incomingToEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noOutgoingTransitionFromEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.multipleTransitionFromEntry"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromExit"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.outgoingFromFinal"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.noStateInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.StateInRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoOutgoing"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.choiceHasNoIncoming"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.synchHasNoOutgoing"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.synchHasNoIncoming"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.SynchronizedIncomingInSameRegion"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.notSynchronizingStates"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.hasMultipleOutgoingTrainsition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.hasMultipleIncomingTrainsition"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.SynchronizedRegionsAreNotSiblings"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.child"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.SynchronizedRegionDoesNotHaveMultipleRegions"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.hasMultipleRegions"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.synchThree"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.test.queries.yakindu.twoSynch"/>
    </group>
  </extension>
  <extension id="extension.derived.ca.mcgill.ecse.dslreasoner.vampire.queries.live" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="FileSystem" feature-name="live" package-nsUri="FileSystemMetamodel"/>
  </extension>
  <extension id="extension.derived.ca.mcgill.ecse.dslreasoner.vampire.test.queries.filesystem.live" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="FileSystem" feature-name="live" package-nsUri="FileSystemMetamodel"/>
  </extension>
</plugin>
