/.RuleBasedCpsSolver.java._trace
/.RuleBasedCpsMain.java._trace
/.CpsStateCoder.java._trace
/.CpsStateCoder.xtendbin
/.RuleBasedCpsMain.xtendbin
/.RuleBasedCpsSolver.xtendbin
/CpsStateCoder.java
/RuleBasedCpsMain.java
/RuleBasedCpsSolver.java
