/.CpsQueriesAll.java._trace
/.ResourceRequirement.java._trace
/.MemoryRequirement.java._trace
/.HddRequirement.java._trace
/.AllocationWithoutResourceRequirement.java._trace
/.RequiredType.java._trace
/.SatisfyingInstance.java._trace
/.FreeMemoryPercentage.java._trace
/.FreeHddPercentage.java._trace
/.ApplicationInstance.java._trace
/.HostInstanceCost.java._trace
