<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated github -->
    <package class="github.GithubPackage" genModel="model/github.genmodel" uri="sure.ghtorrent.github"/>
  </extension>
  <extension id="queries.Github" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:queries.Github" id="queries.Github">
      <query-specification fqn="queries.directParent"/>
      <query-specification fqn="queries.loopInParent"/>
      <query-specification fqn="queries.checkAction"/>
      <query-specification fqn="queries.checkUserAction"/>
      <query-specification fqn="queries.isReopen"/>
      <query-specification fqn="queries.isClose"/>
      <query-specification fqn="queries.isUnSubscribe"/>
      <query-specification fqn="queries.isSubscribe"/>
      <query-specification fqn="queries.consecutiveClosesWithoutReopen"/>
      <query-specification fqn="queries.consecutiveReopensWithoutClose"/>
      <query-specification fqn="queries.consecutiveSubWithoutUnSub"/>
      <query-specification fqn="queries.consecutiveUnSubWithoutSub"/>
      <query-specification fqn="queries.committer"/>
      <query-specification fqn="queries.eventUser"/>
      <query-specification fqn="queries.noCommitter"/>
      <query-specification fqn="queries.noUser"/>
    </group>
  </extension>
</plugin>
