<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated socialnetwork -->
    <package class="socialnetwork.SocialnetworkPackage" genModel="model/socialnetwork.genmodel" uri="http://ecse.mcgill.ca/socialnetwork"/>
  </extension>
  <extension id="queries.Ecore" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:queries.Ecore" id="queries.Ecore">
      <query-specification fqn="queries.directSupertype"/>
      <query-specification fqn="queries.loopInInheritence"/>
      <query-specification fqn="queries.opposite"/>
      <query-specification fqn="queries.oppositeDifferentClass"/>
      <query-specification fqn="queries.nonSymmetricOpposite"/>
      <query-specification fqn="queries.superTypes"/>
      <query-specification fqn="queries.moreThenFiveSuperTypes"/>
    </group>
  </extension>
</plugin>
