/.GenerateScenarios.java._trace
/.checkQueries.java._trace
/.RunGenerator.xtendbin
/GenerateScenarios.java
/.GenerateScenarios.xtendbin
/.GeneratePledgeModels.java._trace
/.GeneratePledgeModels.xtendbin
/GeneratePledgeModels.java
