/.ApplicationConfigurationDescriptionLabelProvider.java._trace
/.ApplicationConfigurationDescriptionLabelProvider.xtendbin
/.ApplicationConfigurationLabelProvider.java._trace
/.ApplicationConfigurationLabelProvider.xtendbin
/ApplicationConfigurationDescriptionLabelProvider.java
/ApplicationConfigurationLabelProvider.java
