/.CftTransformation.java._trace
/.ComponentFaultTreeTrace.java._trace
/.ComponentInstanceTrace.java._trace
/.InputTrace.java._trace
/.MappingHandler.java._trace
/.ComponentInstantiationHandler.java._trace
/.MappingQueries.java._trace
/.LookupHandler.java._trace
