@import 'codemirror/lib/codemirror';
@import 'codemirror/addon/hint/show-hint';

@import 'xtext/xtext-codemirror';

.problem-class {
	color: #005032;
}

.problem-abstract {
	color: #8b8816;
}

.problem-enum {
	color: #644632;
}

.problem-reference {
	color: #0000c0;
}

.problem-containment {
	font-weight: bold;
}

.CodeMirror .cm-quoted-name, .problem-enum-node {
	color: #1a1a1a !important;
	font-weight: bold;
}

.problem-new-node {
	font-style: italic;
}

.problem-variable {
	color: #6a3e3e;
}

.problem-singleton-variable {
	color: #a1706f;
}
