@use '@fontsource/roboto/scss/mixins' as Roboto;
@use '@fontsource/jetbrains-mono/scss/mixins' as JetbrainsMono;

@import 'codemirror/lib/codemirror';
@import 'codemirror/addon/hint/show-hint';
@import 'codemirror/theme/material-darker';

$robotoWeights: 300, 400, 500, 700;
@each $weight in $robotoWeights {
  @include Roboto.fontFace($fontName: 'Roboto', $weight: $weight);
  @include Roboto.fontFace($fontName: 'Roboto', $weight: $weight, $style: italic);
}

$jetbrainsMonoWeights: 400, 700;
@each $weight in $jetbrainsMonoWeights {
  @include JetbrainsMono.fontFace($fontName: 'JetBrains Mono', $weight: $weight);
  @include JetbrainsMono.fontFace($fontName: 'JetBrains Mono', $weight: $weight, $style: italic);
}
@include JetbrainsMono.fontFaceVariable($fontName: 'JetBrains MonoVariable');
@include JetbrainsMono.fontFaceVariable($fontName: 'JetBrains MonoVariable', $style: italic);

body {
  font-family: 'Roboto', sans-serif;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror, .CodeMirror-hints {
  font-size: 16px;
  font-family: 'JetBrains MonoVariable', 'JetBrains Mono', monospace;
  font-feature-settings: 'liga', 'calt';
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.CodeMirror-hints {
  background: #333333;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
              0 5px 8px 0 rgba(0, 0, 0, 0.14),
              0 1px 8px 0 rgba(0, 0, 0, 0.12);
  padding: 0;
}

.CodeMirror-hint {
  color: #fff;
  border-radius: 0;
}

li.CodeMirror-hint-active {
  background: rgba(128, 203, 196, 0.2);
}

.annotations-gutter {
	width: 12px;
}

.xtext-annotation_error {
	width: 12px;
	height: 1em;
	background-image: url('images/error_an.gif');
	background-repeat: no-repeat;
  background-position: bottom;
}

.xtext-annotation_warning {
	width: 12px;
	height: 1em;
	background-image: url('images/warning_an.gif');
	background-repeat: no-repeat;
  background-position: bottom;
}

.xtext-annotation_info {
	width: 12px;
	height: 1em;
	background-image: url('images/info_an.gif');
	background-repeat: no-repeat;
  background-position: bottom;
}

.xtext-marker_error {
	z-index: 30;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_warning {
	z-index: 20;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_info {
	z-index: 10;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAANklEQVQI12NkgIIVRx8tZGBg6GZccfRRKAMDgw8DA0M3AwPDIiYGBoZKBgaG7ghruSsMDAwpABH5CoqwzCoTAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	background-position: left bottom;
}

.xtext-marker_read {
  background: rgba(128, 203, 196, 0.2);
}

.xtext-marker_write {
  background: rgba(255, 229, 100, 0.2);
}

.problem-class, .problem-enum {
  @extend .cm-type;
}

.problem-abstract {
  font-style: italic;
}

.problem-reference {
  @extend .cm-def;
}

.problem-containment {
	font-weight: 700;
}

.problem-unique-node {
  @extend .cm-atom;
}

.problem-new-node {
  font-style: italic;
}

.problem-variable {
  @extend .cm-variable;
}

.problem-singleton-variable {
  opacity: 0.6;
}
