<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?><plugin>
  <extension id="ca.mcgill.ecse.dslreasoner.vampire.queries.VampireQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:ca.mcgill.ecse.dslreasoner.vampire.queries.VampireQueries" id="ca.mcgill.ecse.dslreasoner.vampire.queries.VampireQueries">
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSComment"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSFofFormula"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSAnnotation"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSOr"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSAnd"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSEquivalent"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSFunction"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSExistentialQuantifier"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSUniversalQuantifier"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSUnaryNegation"/>
      <query-specification fqn="ca.mcgill.ecse.dslreasoner.vampire.queries.VLSInequality"/>
    </group>
  </extension>
</plugin>
