/.CftLanguageQualifiedNameProvider.java._trace
/.PackageNameProvider.java._trace
/.CftLanguageQualifiedNameProvider.xtendbin
/.PackageNameProvider.xtendbin
/CftLanguageQualifiedNameProvider.java
/PackageNameProvider.java
