/.Context.java._trace
/.Context.xtendbin
/.ExecuteScript.java._trace
/.ExecuteScript.xtendbin
/.Executor.java._trace
/.Executor.xtendbin
/.Metamodel.java._trace
/.MetamodelLoader.java._trace
/.MetamodelLoader.xtendbin
/.ModelLoader.java._trace
/.ModelLoader.xtendbin
/.ParseUtil.java._trace
/.QueryLoader.java._trace
/.QueryLoader.xtendbin
/Context.java
/ExecuteScript.java
/Executor.java
/Metamodel.java
/MetamodelLoader.java
/ModelLoader.java
/QueryLoader.java
/.MetamodelValidator.java._trace
/.QueryAndMetamodelValidator.java._trace
/.ScriptExecutor.java._trace
/.GenerationTaskExecutor.java._trace
/.ScriptConsole.java._trace
/.SolverLoader.java._trace
/.NullWorkspace.java._trace
/.ScopeLoader.java._trace
