<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated modes3 -->
    <package class="modes3.Modes3Package" genModel="model/modes3.genmodel" uri="http://www.ece.mcgill.ca/wcet/modes3"/>
  </extension>
  <extension id="modes3.queries.Modes3Queries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:modes3.queries.Modes3Queries" id="modes3.queries.Modes3Queries">
      <query-specification fqn="modes3.queries.connectedTo"/>
      <query-specification fqn="modes3.queries.connectedToNotSymmetric"/>
      <query-specification fqn="modes3.queries.connectedToReflexive"/>
      <query-specification fqn="modes3.queries.turnoutOutput"/>
      <query-specification fqn="modes3.queries.outputReflexive"/>
      <query-specification fqn="modes3.queries.turnoutOutputsAreSame"/>
      <query-specification fqn="modes3.queries.output"/>
      <query-specification fqn="modes3.queries.tooManyInputsOfSegment"/>
      <query-specification fqn="modes3.queries.turnoutConnectedToBothOutputs"/>
      <query-specification fqn="modes3.queries.adjacent"/>
      <query-specification fqn="modes3.queries.tooManyInputsOfTurnout"/>
      <query-specification fqn="modes3.queries.inputsOfTurnout"/>
      <query-specification fqn="modes3.queries.tooFewInputsOfTurnout"/>
      <query-specification fqn="modes3.queries.reachable"/>
      <query-specification fqn="modes3.queries.unreachable"/>
      <query-specification fqn="modes3.queries.closeTrains_step_2"/>
      <query-specification fqn="modes3.queries.closeTrains_step_3"/>
      <query-specification fqn="modes3.queries.closeTrains_step_4"/>
      <query-specification fqn="modes3.queries.closeTrains_step_5"/>
      <query-specification fqn="modes3.queries.closeTrains_step_6"/>
      <query-specification fqn="modes3.queries.closeTrains_step_7"/>
      <query-specification fqn="modes3.queries.trainLocations_step_2"/>
      <query-specification fqn="modes3.queries.trainLocations_step_3"/>
      <query-specification fqn="modes3.queries.misalignedTurnout_step_2"/>
      <query-specification fqn="modes3.queries.misalignedTurnout_step_3"/>
      <query-specification fqn="modes3.queries.misalignedTurnout_step_4"/>
      <query-specification fqn="modes3.queries.misalignedTurnout_step_5"/>
      <query-specification fqn="modes3.queries.connectedSegmentsDirected"/>
      <query-specification fqn="modes3.queries.endOfSiding_step_2"/>
      <query-specification fqn="modes3.queries.endOfSiding_step_3"/>
      <query-specification fqn="modes3.queries.endOfSiding_step_4"/>
      <query-specification fqn="modes3.queries.endOfSiding_step_5"/>
      <query-specification fqn="modes3.queries.multipleConnectedTo"/>
    </group>
  </extension>
</plugin>
