/.SolverLanguageIdeModule.java._trace
/.SolverLanguageIdeModule.xtendbin
/.SolverLanguageIdeSetup.java._trace
/.SolverLanguageIdeSetup.xtendbin
/SolverLanguageIdeModule.java
/SolverLanguageIdeSetup.java
