/.ContentInNotLiveMatch.java._trace
/.ContentInNotLiveMatcher.java._trace
/.DirectSupertypeMatch.java._trace
/.DirectSupertypeMatcher.java._trace
/.Ecore.java._trace
/.FileSystem.java._trace
/.LiveMatch.java._trace
/.LiveMatcher.java._trace
/.LoopInInheritenceMatch.java._trace
/.LoopInInheritenceMatcher.java._trace
/.NonSymmetricOppositeMatch.java._trace
/.NonSymmetricOppositeMatcher.java._trace
/.OppositeDifferentClassMatch.java._trace
/.OppositeDifferentClassMatcher.java._trace
/.OppositeMatch.java._trace
/.OppositeMatcher.java._trace
/.PatternContentMatch.java._trace
/.PatternContentMatcher.java._trace
/ContentInNotLiveMatch.java
/ContentInNotLiveMatcher.java
/DirectSupertypeMatch.java
/DirectSupertypeMatcher.java
/Ecore.java
/FileSystem.java
/LiveMatch.java
/LiveMatcher.java
/LoopInInheritenceMatch.java
/LoopInInheritenceMatcher.java
/NonSymmetricOppositeMatch.java
/NonSymmetricOppositeMatcher.java
/OppositeDifferentClassMatch.java
/OppositeDifferentClassMatcher.java
/OppositeMatch.java
/OppositeMatcher.java
/PatternContentMatch.java
/PatternContentMatcher.java
