/.ComponentFaultTreeTrace.java._trace
/.ComponentInstanceTrace.java._trace
/.InputTrace.java._trace
/.LookupHandler.java._trace
/.MappingHandler.java._trace
/.MappingQueries.java._trace
/.CftTransformation.java._trace
/.Ecore2CftTransformation.java._trace
/.ComponentNameGenerator.java._trace
