/.ComponentFaultTreeTrace.java._trace
/.ComponentInstanceTrace.java._trace
/.InputTrace.java._trace
/.LookupHandler.java._trace
/.MappingHandler.java._trace
/.MappingQueries.java._trace
/.CftTransformation.java._trace
/.Ecore2CftTransformation.java._trace
/.ComponentNameGenerator.java._trace
/.ComponentFaultTreeTrace.xtendbin
/.ComponentInstanceTrace.xtendbin
/.ComponentNameGenerator.xtendbin
/.Ecore2CftTransformation.xtendbin
/.InputTrace.xtendbin
/.LookupHandler.xtendbin
/.MappingHandler.xtendbin
/.MappingQueries.xtendbin
/ComponentFaultTreeTrace.java
/ComponentInstanceTrace.java
/ComponentNameGenerator.java
/Ecore2CftTransformation.java
/InputTrace.java
/LookupHandler.java
/MappingHandler.java
/MappingQueries.java
