/.VLSAnd.java._trace
/.VLSAnnotation.java._trace
/.VLSComment.java._trace
/.VLSEquivalent.java._trace
/.VLSExistentialQuantifier.java._trace
/.VLSFofFormula.java._trace
/.VLSFunction.java._trace
/.VLSFunctionFof.java._trace
/.VLSInequality.java._trace
/.VLSOr.java._trace
/.VLSUnaryNegation.java._trace
/.VLSUniversalQuantifier.java._trace
/.VampireQueries.java._trace
/VLSAnd.java
/VLSAnnotation.java
/VLSComment.java
/VLSEquivalent.java
/VLSExistentialQuantifier.java
/VLSFofFormula.java
/VLSFunction.java
/VLSFunctionFof.java
/VLSInequality.java
/VLSOr.java
/VLSUnaryNegation.java
/VLSUniversalQuantifier.java
/VampireQueries.java
