/.CftLanguageSemanticHighlightingCalculator.java._trace
/.CftLanguageTokenToAttributeIdMapper.java._trace
/.CftLanguageSemanticHighlightingCalculator.xtendbin
/.CftLanguageTokenToAttributeIdMapper.xtendbin
/CftLanguageSemanticHighlightingCalculator.java
/CftLanguageTokenToAttributeIdMapper.java
