/.ApplicationConfigurationIdeModule.java._trace
/.ApplicationConfigurationIdeSetup.java._trace
/.ApplicationConfigurationIdeModule.xtendbin
/.ApplicationConfigurationIdeSetup.xtendbin
/ApplicationConfigurationIdeModule.java
/ApplicationConfigurationIdeSetup.java
