/.CftLanguageScopeProvider.java._trace
/.CftLanguageImportedNamespaceAwareScopeProvider.java._trace
/.CftLanguageImportedNamespaceAwareScopeLocalProvider.java._trace
/.CftLanguageImportedNamespaceAwareLocalScopeProvider.java._trace
/.CftLanguageImportedNamespaceAwareLocalScopeProvider.xtendbin
/.CftLanguageScopeProvider.xtendbin
/CftLanguageImportedNamespaceAwareLocalScopeProvider.java
/CftLanguageScopeProvider.java
