<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated familytree -->
      <package
            uri="http://www.example.org/familytree"
            class="familytree.FamilytreePackage"
            genModel="model/familytree.genmodel"/>
   </extension>

</plugin>
