/.VampireAnalyzerConfiguration.java._trace
/.VampireAnalyzerConfiguration.xtendbin
/.VampireSolver.java._trace
/.VampireSolver.xtendbin
/VampireAnalyzerConfiguration.java
/VampireSolver.java
/.AlloyBackendSolver.java._trace
/.TypeMappingTechnique.java._trace
/.VampireSolverConfiguration.java._trace
/.VampireBackendSolver.java._trace
