<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension id="extension.derived.hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.model" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="FunctionalElement" feature-name="model" package-nsUri="FAM"/>
  </extension>
  <extension id="extension.derived.hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.type" point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Function" feature-name="type" package-nsUri="FAM"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated FAM -->
    <package class="hu.bme.mit.inf.dslreasomer.domains.transima.fam.FunctionalArchitecture.FunctionalArchitecturePackage" genModel="model/FAM.genmodel" uri="FAM"/>
  </extension>
  <extension id="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.Pattern" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.Pattern" id="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.Pattern">
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.terminatorAndInformation"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.type"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.rootElements"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.parent"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.model"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.hasRoot"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.hasInt"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.hasLeaf"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.noRoot"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.noInt"/>
      <query-specification fqn="hu.bme.mit.inf.dslreasoner.domains.transima.fam.patterns.noLeaf"/>
    </group>
  </extension>
</plugin>
