<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:hu.bme.mit.inf.dslreasoner.application.ui.menu?after=hu.bme.mit.inf.dslreasoner.application.ui.executescript">
         <command
               commandId="hu.bme.mit.inf.dslreasoner.faulttree.ui.reliabilityanalysis"
               label="Reliability Analysis..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="hu.bme.mit.inf.dslreasoner.faulttree.ui.handler.ReliabilityAnalysisHandler"
            id="hu.bme.mit.inf.dslreasoner.faulttree.ui.reliabilityanalysis"
            name="Execute Reliability Analysis">
      </command>
   </extension>

</plugin>
