<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bme.hu/mit/inf/dslreasoner/AlloyLanguage" 
       class = "hu.bme.mit.inf.dslreasoner.alloyLanguage.AlloyLanguagePackage"
       genModel = "model/generated/AlloyLanguage.genmodel" /> 
	
  </extension>



</plugin>
