/.VLSAndMatch.java._trace
/.VLSAndMatcher.java._trace
/.VLSAnnotationMatch.java._trace
/.VLSAnnotationMatcher.java._trace
/.VLSCommentMatch.java._trace
/.VLSCommentMatcher.java._trace
/.VLSEquivalentMatch.java._trace
/.VLSEquivalentMatcher.java._trace
/.VLSExistentialQuantifierMatch.java._trace
/.VLSExistentialQuantifierMatcher.java._trace
/.VLSFofFormulaMatch.java._trace
/.VLSFofFormulaMatcher.java._trace
/.VLSFofTermMatch.java._trace
/.VLSFofTermMatcher.java._trace
/.VLSFunctionFofMatch.java._trace
/.VLSFunctionFofMatcher.java._trace
/.VLSFunctionMatch.java._trace
/.VLSFunctionMatcher.java._trace
/.VLSInequalityMatch.java._trace
/.VLSInequalityMatcher.java._trace
/.VLSOrMatch.java._trace
/.VLSOrMatcher.java._trace
/.VLSUnaryNegationMatch.java._trace
/.VLSUnaryNegationMatcher.java._trace
/.VLSUniversalQuantifierMatch.java._trace
/.VLSUniversalQuantifierMatcher.java._trace
/.VampireQueries.java._trace
/VLSAndMatch.java
/VLSAndMatcher.java
/VLSAnnotationMatch.java
/VLSAnnotationMatcher.java
/VLSCommentMatch.java
/VLSCommentMatcher.java
/VLSEquivalentMatch.java
/VLSEquivalentMatcher.java
/VLSExistentialQuantifierMatch.java
/VLSExistentialQuantifierMatcher.java
/VLSFofFormulaMatch.java
/VLSFofFormulaMatcher.java
/VLSFofTermMatch.java
/VLSFofTermMatcher.java
/VLSFunctionFofMatch.java
/VLSFunctionFofMatcher.java
/VLSFunctionMatch.java
/VLSFunctionMatcher.java
/VLSInequalityMatch.java
/VLSInequalityMatcher.java
/VLSOrMatch.java
/VLSOrMatcher.java
/VLSUnaryNegationMatch.java
/VLSUnaryNegationMatcher.java
/VLSUniversalQuantifierMatch.java
/VLSUniversalQuantifierMatcher.java
/VampireQueries.java
