/.CalculationsNA.java._trace
/.CalcNA.java._trace
/.CalcMPC.java._trace
/.CalcMetric.java._trace
/.CalcNDA.java._trace
/.CalcNDC.java._trace
/.CalcEDA.java._trace
/.CalcC.java._trace
/.CalcSQR.java._trace
/.CalcSQRtot.java._trace
/.CalcSQRMAX.java._trace
/.CalcSQRTOT.java._trace
/.CalcSQROSZ.java._trace
/.CalcSQROSZ2.java._trace
/.CalcSQROCOOL.java._trace
