/.VampireHandler.java._trace
/.VampireHandler.xtendbin
/VampireHandler.java
/.Logic2VampireLanguageMapper.java._trace
/.Logic2VampireLanguageMapper_TypeMapper_FilteredTypes.java._trace
/.Logic2VampireLanguageMapper_TypeMapperTrace.java._trace
/.Logic2VampireLanguageMapper_TypeMapper.java._trace
/.Logic2VampireLanguageMapperTrace.java._trace
/.Logic2VampireLanguageMapper_Support.java._trace
/.Logic2VampireLanguageMapper_TypeMapperTrace_FilteredTypes.java._trace
