/.VampireLanguageRuntimeModule.java._trace
/.VampireLanguageStandaloneSetup.java._trace
/.VampireLanguageRuntimeModule.xtendbin
/.VampireLanguageStandaloneSetup.xtendbin
/VampireLanguageRuntimeModule.java
/VampireLanguageStandaloneSetup.java
