/.VampireTest.java._trace
/.SimpleRun.java._trace
/.DslTest.java._trace
/.MedicalSystem.java._trace
/.DslTest.xtendbin
/.MedicalSystem.xtendbin
/.SimpleRun.xtendbin
/.VampireTest.xtendbin
/DslTest.java
/MedicalSystem.java
/VampireTest.java
/.FAMTest.java._trace
