/.GraphvisVisualisation.java._trace
/.GraphvizVisualisation.java._trace
/.PartialInterpretation2Graphviz.xtendbin
/.Test.java._trace
/.Test.xtendbin
/.TypeColoringStyle.java._trace
/GraphvisVisualisation.java
/GraphvizVisualisation.java
/Test.java
/TypeColoringStyle.java
