/.SolverSemanticHighlightCalculator.java._trace
/.SolverSemanticTextAttributeProvider.java._trace
/.SolverSemanticHighlightCalculator.xtendbin
/.SolverSemanticTextAttributeProvider.xtendbin
/SolverSemanticHighlightCalculator.java
/SolverSemanticTextAttributeProvider.java
